# Pdf scrapper

## Modulos

In [6]:
import tabula as tb
import pandas as pd
import re

## Lectura pdf

In [ ]:
file = 'Tabla1.pdf'
data = tb.read_pdf(file, area = (269, 0, 350, 800))

In [30]:
data[0]

,Model,Semantic-Syntactic Word Relationship test set,MSR Word Relatedness
0,Architecture,Semantic Accuracy [%] Syntactic Accuracy [%],Test Set [20]
1,RNNLM,9 36,35
2,NNLM,23 53,47
3,CBOW,24 64,61
4,Skip-gram,55 59,56

## Volverlo un dataFrame

### Identificando solo

In [ ]:
df_lattice= tb.read_pdf(file, pages = '1', area = (269, 0, 350, 800), pandas_options={'header': None}, lattice=True)[0]

In [60]:
df_lattice

,0,1,2,3
0,Model\rArchitecture,Semantic-Syntactic Word Relationship test set,MSR Word Relatedness\rTest Set [20],NaN
1,NaN,Semantic Accuracy [%],Syntactic Accuracy [%],NaN
2,RNNLM\rNNLM\rCBOW\rSkip-gram,9\r23\r24\r55,36\r53\r64\r59,35\r47\r61\r56

### Especificando columnas

In [ ]:
df= tb.read_pdf(file, pages = '1', area = (269, 0, 350, 800), columns = [183, 280, 400, 600], pandas_options={'header': None}, stream=True)[0]

In [71]:
df

,0,1,2,3
0,Model,Semantic-Syntactic W,ord Relationship test set M,SR Word Relatedness
1,Architecture,Semantic Accuracy [%],Syntactic Accuracy [%],Test Set [20]
2,RNNLM,9,36,35
3,NNLM,23,53,47
4,CBOW,24,64,61
5,Skip-gram,55,59,56

In [72]:
df.columns = df.iloc[1]
df = df.drop(labels=[0,1], axis=0)

In [73]:
df

1 Architecture Semantic Accuracy [%] Syntactic Accuracy [%] Test Set [20]
2        RNNLM                     9                     36            35
3         NNLM                    23                     53            47
4         CBOW                    24                     64            61
5    Skip-gram                    55                     59            56